<h1 align="center">99Cats - Edit</h1>

<form action="<%= @cat.persisted? ? cat_url(@cat) : cats_url %>" method="post">
  <input type="hidden" value="<% form_authenticity_token %>"> 
  <% if @cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <p>Name:</p>
  <p>
    <input type="text" name="cat[name]" value=" <%=@cat.name%>">
  </p>
  <p>Sex:</p>
    <input type="radio" name="cat[sex]" value="M" <%= @cat.sexm %>> Male
    <input type="radio" name="cat[sex]" value="F" <%= @cat.sexf %>> Female
  </p>
  <p>Color:</p>
  <p>
    <select name="cat[color]">
      <option><%= @cat.color %></option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="grey">Grey</option>
      <option value="brown">Brown</option>
      <option value="nyan">Nyan</option>
    </select>
  </p>
    <p>Birthday:</p>
    <p>
      <input type="date" name="cat[age]" value="<%= @cat.birth_date %>">
    </p>
    <p>Description:</p>
  <p>
    <textarea name="cat[description]"
    rows="10" cols="50"> <%= @cat.description %></textarea>
  </p>
<p >
  <input type="submit" value="<%= @cat.persisted? ? "EDIT" : "CREATE" %> CAT">
</p>
</form>
<%= link_to 'Back to all cats', cats_url %>
